.homeContainer {
    display: grid;
    grid-template-columns: 20rem 3fr;


    &__main {
        padding: 1rem;

        .header {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        .section {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3 {
                margin: .5rem 0 2rem;
                font-weight: 400;
            }

            

            .calendar {
                position: absolute;
                z-index: 5;
            }
        }

        
    }
}

@media (min-width: 730px) {
    .homeContainer{
    min-height: 100vh;

    }
}

@media (max-width: 730px) {
    .homeContainer {
        grid-template-columns: 1fr;

        &__main {
            margin-top: 5rem;
        }
    }
    .logo {
        display: none;
    }
}